<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/swipebox.css" type="text/css" media="all" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Squada+One' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="application/x-javascript">
	addEventListener("load", function() {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.scrollTo(0, 1);
	}
</script>
<script src="js/jquery-1.11.0.min.js"></script>


<!--about start here-->
<div class="about">
	<div class="container">
		<div class="about-main">
			<div class="about-top">
				<h2>About Us</h2>
			</div>

			<div class="about-bottom">
				<div class="col-md-6 ab-left">
					<h4><a href="single.html">Sed perspiciatis voluptatem accusantium doloremque</a></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat totam rem aperiam,
						eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</p>
				</div>
				<div class="col-md-6 ab-right">
					<a href="single.html"><img src="images/ab.jpg" alt="" class="img-responsive"></a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>

<div class="staff">
	<div class="container">
		<div class="staff-main">
			<div class="staff-top">
				<h3>Our Team</h3>
			</div>
			<div class="staff-bottom">
				<div class="col-md-3 staff-grid">
					<img src="images/t1.jpg" alt="" class="img-responsive">
					<h4>Alejandro Roldan</h4>
					<p> Founder </p>
				</div>
				<div class="col-md-3 staff-grid">
					<img src="images/t2.jpg" alt="" class="img-responsive">
					<h4>Tomas Roldan</h4>
					<p> Developer </p>
				</div>
				<div class="col-md-3 staff-grid">
					<img src="images/t3.jpg" alt="" class="img-responsive">
					<h4>Alejandro Roldan Jr.</h4>
					<p> Driver </p>
				</div>
				<div class="col-md-3 staff-grid">
					<img src="images/t4.jpg" alt="" class="img-responsive">
					<h4>Mariano Roldan</h4>
					<p> Customer Service </p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>

<div class="we-do">
	<div class="container">
		<div class="we-do-main">
			<div class="we-do-top">
				<h3>What We Do</h3>
				<p></p>
				<iframe src="https://player.vimeo.com/video/24527147" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen> </iframe>
			</div>
		</div>
	</div>
</div>
<!--about end here-->
