<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
  <!-- <link rel="stylesheets" type="text/css" href="stylesheets/style_common.css" /> -->
  <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

  <link rel="stylesheet" href="css/swipebox.css" type="text/css" media="screen"/>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- google fonts -->
  <link href='//fonts.googleapis.com/css?family=Squada+One' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>


  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <script src="js/jquery-1.11.0.min.js"></script>
</head>

<!-- banner  -->
<section class="slider">
 <div class="flexslider">
  <ul class="slides">
    <li>
      <div class="banner-bottom">
      <h2>Choose Us</h2>
      <p>voluptatem accusa ntium dolorem.</p>
      <a href="single.html">Read More</a>
    </div>
    </li>
    <li>
    <div class="banner-bottom">
      <h2>Choose Us</h2>
      <p>Excepteur sint occaecat cupidatat.</p>
      <a href="single.html">Read More</a>
    </div>
    </li>
    <li>
    <div class="banner-bottom">
      <h2>Choose Us</h2>
      <p>Occaecat cupidatat non proident.</p>
      <a href="single.html">Read More</a>
    </div>
    </li>
    </ul>
 </div>
 <div class="clearfix"> </div>
</section>
</div>
</div>
<!-- banner ends -->


<!--information start here-->
<div class="information">
	<div class="container">
		<div class="information-main">
			<div class="col-md-4 information-grid">
				<span class="info-icons hovicon effect-4 sub-b"><img src="images/icn1.png" alt=""></span>
				<h4>Roofing</h4>
				<p>Sed ut  perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque  laudantium.</p>
			</div>
			<div class="col-md-4 information-grid">
				<span class="info-icons hovicon effect-4 sub-b"><img src="images/icn2.png" alt=""></span>
				<h4>Pools</h4>
				<p>Sed ut  perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque  laudantium.</p>
			</div>
			<div class="col-md-4 information-grid">
				<span class="info-icons hovicon effect-4 sub-b"><img src="images/icn3.png" alt=""></span>
				<h4>Driveways</h4>
				<p>Sed ut  perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque  laudantium.</p>
			</div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--information end here-->
<!--about start here-->
<div class="about" id="about">
	<div class="container">
		<div class="about-main">
		   <div class="about-top">
		   	  <h2>About Us</h2>
		   </div>
		   <div class="about-bottom">
			<div class="col-md-6 about-left">
				<div class="about-grid">
					<span class="ab-icns wel-icon8 hovicon effect-4 sub-b"><img src="images/ab-icn1.png" alt=""></span>
					<div class="about-text">
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
					</div>
				   <div class="clearfix"> </div>
				</div>
				<div class="about-grid">
					<span class="ab-icns wel-icon8 hovicon effect-4 sub-b"><img src="images/ab-icn2.png" alt=""></span>
					<div class="about-text">
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
					</div>
				   <div class="clearfix"> </div>
				</div>
				<div class="about-grid">
					<span class="ab-icns wel-icon8 hovicon effect-4 sub-b"><img src="images/ab-icn3.png" alt=""></span>
					<div class="about-text">
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
					</div>
				   <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-6 about-rit">
				<img src="images/ab.jpg" alt="" class="img-responsive">
			</div>
		   <div class="clearfix"> </div>
		 </div>
	 </div>
  </div>
</div>
<!--about end here-->
<!--facts start here-->
<div class="fact">
	<div class="container">
		<div class="fact-main">
			<div class="facts-top">
				<h3>Some Cool Facts</h3>
				<p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
			</div>
			<div class="facts-bottom">
				<div class="col-md-3 facts-grid">
				  <div class="fact-agileinfo">
					  <div class="col-md-6 fact-icn">
					  	<img src="images/fact-icn2.png" alt="">
					  </div>
					  <div class="col-md-6 fact-count">
					  	 <div class="stats-grid slideanim">
							<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='120' data-delay='.5' data-increment="100">120</div>
							<p class="stats-info">Happy Clients</p>
						 </div>
					  </div>
					 <div class="clearfix"> </div>
				  </div>
				</div>
				<div class="col-md-3 facts-grid">
					<div class="fact-agileinfo">
					  <div class="col-md-6 fact-icn">
					  	<img src="images/fact-icn1.png" alt="">
					  </div>
					  <div class="col-md-6  fact-count">
					  	 <div class="stats-grid slideanim">
							<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='900' data-delay='.5' data-increment="5">900</div>
							<p class="stats-info"> Projects</p>
						</div>
					  </div>
					 <div class="clearfix"> </div>
				  </div>
				</div>
				<div class="col-md-3 facts-grid">
					<div class="fact-agileinfo">
					  <div class="col-md-6 fact-icn">
					  	<img src="images/fact-icn3.png" alt="">
					  </div>
					  <div class="col-md-6 fact-count">
					  	 <div class="stats-grid slideanim">
							<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='24' data-delay='.5' data-increment="100">24</div>
							<p class="stats-info">Working Hours</p>
						</div>
					  </div>
					 <div class="clearfix"> </div>
				  </div>
				</div>
				<div class="col-md-3 facts-grid">
				   <div class="fact-agileinfo">
					  <div class="col-md-6 fact-icn">
					  	<img src="images/fact-icn.png" alt="">
					  </div>
					  <div class="col-md-6 fact-count">
					  	 <div class="stats-grid slideanim">
							<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='169' data-delay='.5' data-increment="1">169</div>
							<p class="stats-info">Coffees Drinks</p>
						</div>
					  </div>
					 <div class="clearfix"> </div>
				  </div>
				</div>
			  <div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--facts end here-->
<!-- footer start here-->
<div class="footer">
  <div class="container">
    <div class="footer-main">
        <div class="col-md-4 ftr-gd">
          <h3>Follow Us</h3>
          <ul>
            <li><a href="#" class="fa"> </a></li>
            <li><a href="#" class="tw"> </a></li>
            <li><a href="#" class="g"> </a></li>
          </ul>
        </div>
        <div class="col-md-4 ftr-gd">
          <h3>Newsletter</h3>
          <form>
            <input  type="text" value="Enter Your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your email';}">
            <input type="submit" value="Subscribe">
          </form>
        </div>
        <div class="col-md-4 ftr-gd">
          <h3>Address</h3>
          <p>3688 Franklin Ave</p>
          <p>Miami, FL</p>
          <p>Ph: 305-342-5008</p>
        </div>
      <div class="clearfix"> </div>
    </div>
    <div class="copyright">
         <p>© 2017 Roldan Construction Manag. All rights reserved | Design by  <a href="www.tomcat.codes" target="_blank">  Tommy </a></p>
    </div>
    <script type="text/javascript">
                    $(document).ready(function() {
                      /*
                      var defaults = {
                          containerID: 'toTop', // fading element id
                        containerHoverID: 'toTopHover', // fading element hover id
                        scrollSpeed: 1200,
                        easingType: 'linear'
                      };
                      */

                      $().UItoTop({ easingType: 'easeOutQuart' });

                    });
                  </script>
            <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

  </div>
</div>
<!--footer end here-->
