<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Roldan Construction Group</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
  <!-- <link rel="stylesheets" type="text/css" href="stylesheets/style_common.css" /> -->
  <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">


  <link rel="stylesheet" href="css/swipebox.css" type="text/css" media="screen" />

  <!-- google fonts -->
  <link href='//fonts.googleapis.com/css?family=Squada+One' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>


  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="application/x-javascript">
    addEventListener("load", function() {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <script src="js/jquery-1.11.0.min.js"></script>

  <link rel="shortcut icon" href="images/logo-white.png">
</head>

<body>
  <header>
    <!--banner start here-->
    <div class="banner">
      <div class="header">
        <div class="header-main">
          <div class="logo">
            <a href="/"><img class="logo" src="images/logo-white.png" alt=""/></a>
          </div>
          <div class="top-nav">
            <!-- <span class="menu"> <img src="images/banner4.jpg" alt=""/></span> -->

            <nav class="cl-effect-1">
              <ul class="res">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/previous-work">Work</a></li>
                <li><a href="/contact-us">Contact</a></li>
              </ul>
            </nav>

          </div>
        </div>
      </div>
    </div>





    <%- body %>
</body>

<!-- footer start here-->
<div class="footer">
  <div class="container-foot">
    <div class="footer-main">

      <div class="col-md-4 ftr-gd1" style="float:left;">
        <h3 style="margin-left:68px;">Follow Us</h3>
        <ul class="foot1">
          <li class="foot1"><a href="#" class="faceb"> <i class="fa fa-facebook"></i></a></li>
          <li class="foot1"><a href="#" class="twitt"> <i class="fa fa-twitter"></i></a></li>
          <li class="foot1"><a href="#" class="insta"> <i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>

      <div class="col-md-4 ftr-gd2" style="float:right; padding-left:150px;">
        <h3 style="margin-left:38px;">Contact Us</h3>
        <ul class="foot2">
          <a href="/contact-us">
            <li>3688 Franklin Ave</li>
            <li>Miami, FL</li>
            <li>Ph: 305-342-5008</li>
          </a>
        </ul>
      </div>
      <!-- <div class="clearfix"> </div> -->
    </div>

    <div class="copyright">
      <p>© 2017 Roldan Construction Group | Designed by <a href="http://tomcat.codes/" target="">  Tommy </a></p>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
        /*
        var defaults = {
            containerID: 'toTop', // fading element id
          containerHoverID: 'toTopHover', // fading element hover id
          scrollSpeed: 1200,
          easingType: 'linear'
        };
        */

        $().UItoTop({
          easingType: 'easeOutQuart'
        });

      });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

  </div>
</div>
<!--footer end here-->

</html>
