<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/swipebox.css" type="text/css" media="all"/>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Squada+One' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery-1.11.0.min.js"></script>




<!--services start here-->
<div class="services">
	<div class="container">
		<div class="services-main">
			<div class="services-top">
				<h2>Services</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="services-bottom">
				<div class="col-md-3 services-grid">
					<span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
					<h4>Denouncing</h4>
				</div>
				<div class="col-md-3 services-grid">
					<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					<h4>Denouncing</h4>
				</div>
				<div class="col-md-3 services-grid">
					<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
					<h4>Denouncing</h4>
				</div>
				<div class="col-md-3 services-grid">
					<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
					<h4>Denouncing</h4>
				</div>
				<div class="col-md-3 services-grid">
					<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
					<h4>Denouncing</h4>
				</div>
				<div class="col-md-3 services-grid">
					<span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
					<h4>Denouncing</h4>
				</div>
				<div class="col-md-3 services-grid">
					<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
					<h4>Denouncing</h4>
				</div>
				<div class="col-md-3 services-grid">
					<span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
					<h4>Denouncing</h4>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--services end here-->
<!--over view start here-->
<div class="over-view">
	<div class="container">
		<div class="over-view-main">
			<div class="over-view-top">
				<h3>Services Overview</h3>
			</div>
			<div class="over-view-bott">
			  <div class="col-md-4 over-view-grid">
	  			<div class="col-md-3 cord-drop">
	  				<span class="numbers">1</span>
	  			</div>
	  			 <div class="col-md-9 over-ve-text">
		  				<h4><a href="single.html">There are variations passage</a></h4>
		  				<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising</p>
	  			 </div>
	  		     <div class="clearfix"> </div>
	  		   </div>
				<div class="col-md-4 over-view-grid">
	  			<div class="col-md-3 cord-drop">
	  				<span class="numbers">2</span>
	  			</div>
	  			 <div class="col-md-9 over-ve-text">
		  				<h4><a href="single.html">There are variations passage</a></h4>
		  				<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising</p>
	  			 </div>
	  		     <div class="clearfix"> </div>
	  		  </div>
			 <div class="col-md-4 over-view-grid">
	  			<div class="col-md-3 cord-drop">
	  				<span class="numbers">3</span>
	  			</div>
	  			 <div class="col-md-9 over-ve-text">
		  				<h4><a href="single.html">There are variations passage</a></h4>
		  				<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising</p>
	  			 </div>
	  		     <div class="clearfix"> </div>
	  		  </div>
			   <div class="clearfix"> </div>
			</div>
			<div class="other-serv">
					<h3>Other Services</h3>
					<div class="col-md-4 other-serv-grid">
						<h4><a href="single.html">Nam libero tempore cum soluta</a></h4>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
						<h4><a href="single.html">Et harum quidem facilis distin</a></h4>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="col-md-4 other-serv-grid">
						<h4><a href="single.html">Lorem ipsum dolor consectetur</a></h4>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
						<h4><a href="single.html">Nam libero tempore cum soluta</a></h4>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="col-md-4 other-serv-grid">
						<h4><a href="single.html">Nam libero tempore cum soluta</a></h4>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
						<h4><a href="single.html">Et harum quidem facilis distin</a></h4>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
				  <div class="clearfix"> </div>
				</div>
		</div>
	</div>
</div>
<!--over-view end here-->
