

h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
  font-family: 'Source Sans Pro', sans-serif;
   font-size: 100%;
   background:#fff;
}
a {
  text-decoration: none;
}

/*--nav start here--*/
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #000;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}

nav a:hover,
nav a:focus {
	outline: none;
}
/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
.logo {
  float: left;
  width: 35%;
}

.header-main {
	padding: 1em 0em 2em 23em;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	border-bottom: 2px solid orange;
}

.logo a{
  color:#fff;
  display: block;
}
.logo:hover{
	padding: 0 5px 10px 0;
}
span.menu {
  display: none;
}

.top-nav ul {
  list-style: none;
  padding: 0.6em 0em 0em 0em;
}
.top-nav ul li {
  display: inline-block;
}
.top-nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 1.05em;
	padding:0.5em 0.5em;
	position:relative;
	z-index: 999;
}

.top-nav ul li a:hover,.top-nav ul li a.active{
	color: orange;
}

/*--nav ends here--*/



/*--banner starts here--*/

.banner-text {
    margin: 15em auto 0em;
    width: 50%;
    text-align: center;
    padding: 2em 3em;
    background: rgba(0, 0, 0, 0.58);
}

.banner {
	min-height: 107px;
}

.carousel-inner > .item > img {
  width:100% !important;
  height:550px !important;
}

.sel-imgs {
	width: 100%;
	background-size: cover !important;
}

/*--banner-strip ends here--*/
.bann-strip {
  min-height: 350px;
	/*background-image: image(images/banner.jpg);*/
	background-size: cover;
}
.banner-strip-main {
  text-align: center;
	padding: 7em 0em 0em 0em;
}
.banner-strip-main h3 {
  font-size: 2.5em;
  color:#d3bda5;
  margin: 0em 0em 0.3em 0em;
  font-family: 'Squada One', cursive;
}
.banner-strip-main p {
  font-size: 1.1em;
  color: #fff;
  width: 40%;
  margin: 0em auto 0em;
  line-height: 1.8em;
}
/*--banner-strip ends here--*/




/*--information starts here--*/
.information {
    padding: 3em 0em;
}

.info-top {
    text-align: center;
    padding-bottom: 3em;
}
.info-top h2 {
    font-size: 3em;
    color: orange;
    font-family: 'Cuprum', sans-serif;
}

.information-grid h4 {
    font-size: 1.5em;
    color: #48a4b3;
    font-family: 'Cuprum', sans-serif;
    margin:1em 0em 0.2em 0em;
}
span.info-icons {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.information-grid {
    text-align: center;
}
.information-grid p {
    font-size:1em;
    color: #636262;
    line-height: 1.8em;
}



/*--information end here--*/


/*--about start here--*/
.about {
    padding: 5em 0em;
    background: #282929;
}
.about-top {
    text-align: center;
    padding-bottom: 3em;
}
.about-top h2 {
    font-size: 3em;
    color:#fff;
    font-family: 'Cuprum', sans-serif;
}
.about-bottom {
/*-- agileits --*/
    padding: 2em 1em;
    background: #fff;
}
span.ab-icns {
    display: block;
    float: left;
    width: 18%;
    border-radius: 98px;
    text-align: center;
}
.about-text {
    float: right;
    width: 80%;
}
.about-text p {
    font-size: 1em;
    color:#636262;
    line-height: 1.8em;
    width: 70%;
}
.about-grid {
    margin-bottom:1.2em;
}
/*--commen effect--*/
span.hovicon {
    display: inline-block;
    font-size: 45px;
    line-height: 75px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff;
}
span.hovicon.small {
    font-size: 20px;
    line-height:45px;
    width:45px;
    height:45px;
    margin:7px;
}
span.hovicon.mini {
    font-size: 15px;
    line-height:32px;
    width:30px;
/*-- w3layouts --*/
    height:30px;
    margin:7px;
}
span.hovicon.auto-width {
    width: auto;
    height: auto;
    padding: 15px;
}
span.hovicon:after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
span.hovicon:before {
    speak: none;
    font-size: 40px;
    line-height: 80px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
/* Effect 4 */
 .hovicon.effect-4 {
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 3px #48a4b3;
}
.hovicon.effect-4.small {
    width:45px;
    height:45px;
}
.hovicon.effect-4.mini {
    width:30px;
    height:30px;
}
.hovicon.effect-4.sub-a {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
/*-- agileits --*/
.hovicon.effect-4:before {
    line-height: 80px;
}
.hovicon.effect-4:after {
    top: -3px;
    left: -3px;
    padding: 0;
    z-index: 10;
    border: 3px dashed #48a4b3;
}
.hovicon.effect-4:hover {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    color: #fff;
}
.hovicon.effect-4:hover span {
    color: #fff;
}
/* Effect 4b */
 .hovicon.effect-4.sub-b:hover {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
.hovicon.effect-4.sub-b:hover:after {
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
}
@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}
/*--about end here--*/


/*--services start here--*/
.services {
    padding: 5em 0em;
}
.services-top {
    text-align: center;
    padding-bottom: 3em;
}
.services-top h3 {
    font-size: 3em;
    color:#48a4b3;
    margin-bottom: 0.2em;
    font-family: 'Cuprum', sans-serif;
}
.services-left img {
    margin: 0 auto;
}
.services-right h4 {
    font-size:2.5em;
    color:#000;
    font-family: 'Cuprum', sans-serif;
    margin-bottom: 0.3em;
}
.services-right {
    padding-top: 1em;
}
.services-right p {
    font-size: 1em;
    color:#636262;
    line-height: 1.8em;
    width: 90%;
}
.services-grid {
    margin-bottom: 3em;
	}
/*--services end here--*/



/*--facts start here--*/
.fact {
    padding: 5em 0em;
    background: url(images/banner.jpg)no-repeat center !important;
    background-size: cover;
    min-height: 410px;
}
.facts-top {
    text-align: center;
    padding-bottom: 3em;
}
.facts-top h3 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 0.1em;
    font-family: 'Cuprum', sans-serif;
}
.facts-top p {
    font-size: 1em;
    color: #fff;
    line-height: 1.8em;
}

/*--facts ends here--*/





/*--footer start here--*/
.footer {
  background: #282929;
  /*padding: 4em 0em 4em 0em;*/
	padding: 1.5em 0em 1.5em 0em;
	color: white;
}

ul.foot {
	list-style: none !important;

}

form.foot {
	color: black;
}

.copyright {
  text-align: center;
  padding: 3em 0em 0em 0em;
}
.copyright p {
  font-size: 1em;
  color: #fff;
}
.copyright p a {
  color:#d3bda5;
}
.copyright p a:hover{
	color:#fff;
	text-decoration: none;
}
#toTop {
	display:none;
	text-decoration: none;
	position: fixed;
	bottom: 0px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background-size: 35px;
	background: url(../images/top_mover.png) no-repeat 0px 0px;
	color: red;
}


/*--footer end here--*/
